
@{
    ViewBag.Title = "Index";
}

<div style="width:900px">
    <center>
        <h1>Welocme to Admin Panel</h1>

        <div>
            <h2>
                <a href="/AdminAction">Actions</a>
            </h2>
            <h2>
                <a href="/AdminGamee">Games</a>
            </h2>
            <h2>
                <a href="/AdminStory">Stories</a>
            </h2>
            <h2>
                <a href="/AdminSong">Songs</a>
            </h2>
        </div>
        <br />
        <br />
        <div>
            <img src="~/Content/Frank.png" />
        </div>
    </center>
</div>

