<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script type="text/javascript" src="/Scripts/jquery-2.2.1.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/Styles/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/Styles/main.css" />
    <link type="text/css" rel="stylesheet" href="/Scripts/angular-growl.min.css" />
    <link type="text/css" rel="stylesheet" href="/Styles/slider.css" />

    <script type="text/javascript" src="/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="/Scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/controllers.js"></script>
    <script type="text/javascript" src="/config.js"></script>
    <script type="text/javascript" src="/LS.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-slider.js"></script>

    <script type="text/javascript" src="/Scripts/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/angular-growl.min.js"></script>




</head>
<body ng-app="smartToyApp">

    <!-- Nav bar -->

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/main">Frank</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/about">О нас</a></li>
                </ul>
                <div ng-controller="RightNavButtonsCtrl">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title">Добавь нового друга!</h3>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>Заполни все поля:</legend>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-4 control-label">UID</label>
                                        <div class="col-lg-8">
                                            <input ng-model="uid" type="text" class="form-control" id="inputEmail" placeholder="UID">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-4 control-label">Придумай имя</label>
                                        <div class="col-lg-8">
                                            <input ng-model="name" type="text" class="form-control" id="inputEmail" placeholder="Имя">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>

                    <ul class="nav navbar-nav navbar-right">

                        <li ng-if="isLogedIn()">
                            <a>{{money}} <img src="/Images/ruble.png" class="ruble-img" /><span class="dot">руб.</span></a>
                        </li>
                        <li ng-if="isLogedIn()">
                            <button ng-click="openModal()" title="Добавить игрушку" type="button" class="btn btn-warning navbar-btn btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </li>
                        <li ng-if="isLogedIn()" class="navbar-text toys-navbar-list">
                            <a ng-click="setSelectedToy(toy.Id)" href="/home/{{toy.Id}}" ng-repeat="toy in toys">
                                <img ng-class="{true: 'selected', false: 'nonSelected'}[toy.Id==selectedToy]" src="/Images/Frank.png" width="50px;" alt="{{toy.Name}}" title="{{toy.Name}}">
                            </a>
                        </li>
                        <li><a ng-click="buttonClick()">{{buttonText()}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <br />
    <br />

    <!-- Content -->

    <div class="container">
        <div class="row" ng-view>
        </div>
    </div>


    <div growl></div>
</body>
</html>
