<div class="jumbotron">
    <div class="row">
        <div style="text-align: center">
            <img src="../Images/Frank 2.png" style="width: 500px" />
        </div>
    </div>
    <br /><br /><br />
    <div class="row">
        <div style="text-align: center">
            <p>
                Система «Smart Toy» предназначена для управления устройствами для развития детей. Устройство представляет из себя игрушку, снабженную большим количеством датчиков, динамиком, центральной управляющей платой и модулем доступа к интернету (wi-fi или 3g модуль).
                Пользователь покупает одно или несколько таких устройств, подключает их к своему личному кабинету на разрабатываемом сайте и управляет их, а именно: настраивает конкретное устройство в зависимости от своих потребностей, покупает и активирует дополнительные возможности (игры, песни, сказки), включает единовременные действия и т.д.
            </p>
            <p>
                Целью разработки данной информационной системы является предоставление конечным пользователям устройств “Smart Toy” возможности мнгновенно управлять купленным устройством, использовать все его возможности, а также преобретать за дополнительную плату дополнительные пакеты услуг.
                Данная система необходима для функционирования всей сети Smart Toy, так как именно через неё конечный пользователь будет осуществлять взаимодействие с устройствами.
            </p>
            <br/>
            <p>
                ИГЭУ Околотин Андрей Александрович, 3-42
            </p>
        </div>
    </div>
</div>
