<div class="col-lg-3 col-md-3 col-sm-3">
    <h1>Frank</h1>
    <p class="lead">Интеллектуальная игрушка</p>
    <br /><br />
    <img src="../Images/Frank.png" style="height: 100%" />
</div>
<div class="col-lg-9 col-md-9 col-sm-9">

<div class="jumbotron">
        <h1>Привет, меня зовут Френк</h1>
        <p>Я помогу твоему ребенку узнать много нового и быстро развиваться. Я умею много всего, больше, чем какая-либо из других игрушек. А за дополнительную плату я смогу еще больше :)</p>
        <p>Если надумал, можешь купить такую игрушку уже сейчас! Это займет всего 10 минут!</p>
        <p>
            <a class="btn btn-info btn-lg">Купить игрушку сейчас<span class="glyphicon glyphicon-usd"></span></a>
        </p>
    </div>
</div>