<div class="col-lg-3 col-md-3 col-sm-3">
    <h1>Frank</h1>
    <p class="lead">Highly intelligent toy</p>
    <br /><br />
    <img src="../Images/Frank.png" style="height: 100%" />
</div>
<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h2>Welcome back!</h2>
            <div class="form-group">
                <label class="control-label" for="focusedInputLogin">Login</label>
                <input class="form-control" id="focusedInputLogin" type="text" ng-model="login">
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInputPassword">Password</label>
                <input class="form-control" id="focusedInputPassword" type="password" ng-model="password">
            </div>
            <a class="btn btn-primary" ng-click="buttonClick()">Sign In</a>
            <br />
            <br />
            <a href="/registration">Create new accouunt</a>
        </div>
    </div>
</div>
