<div class="col-lg-3 col-md-3 col-sm-3">
    <h1>Магазин</h1>
    <a href="/store/actions" class="btn btn-warning btn-block">Действия</a>
    <a href="/store/games" class="btn btn-warning btn-block">Игры</a>
    <a href="/store/stories" class="btn btn-warning btn-block">Сказки</a>
    <a href="/store/songs" class="btn btn-warning btn-block">Песни</a>
</div>

<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <h1>Сказки</h1>
            <br />
            <div ng-repeat="story in stories">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{story.Name}}</h3>
                        <hr />
                    </div>

                    <div class="panel-body">
                        <div>
                            <img class="store-image" src="{{story.ImageUrl}}" />
                            {{story.Description}}
                        </div>
                        <br />
                        <br />
                        <div>
                            <h3>Cost: {{story.Cost}}</h3>
                            <a ng-click="Buy(story.Id)" class="btn btn-info">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
