<div class="col-lg-3 col-md-3 col-sm-3">
    <h1>Магазин</h1>
    <a href="/store/actions" class="btn btn-warning btn-block">Действия</a>
    <a href="/store/games" class="btn btn-warning btn-block">Игры</a>
    <a href="/store/stories" class="btn btn-warning btn-block">Сказки</a>
    <a href="/store/songs" class="btn btn-warning btn-block">Песни</a>
</div>

<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <h1>Мнгновенные действия</h1>
            <br />
            <div ng-repeat="action in actions">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{action.Name}}</h3>
                        <hr />
                    </div>

                    <div class="panel-body">
                        <div>
                            <img class="store-image" src="{{action.ImageUrl}}" />
                            {{action.Description}}
                        </div>
                        <br />
                        <br />
                        <div>
                            <h3>Cost: {{action.Cost}}</h3>
                            <a href="#" ng-click="Buy(action.Id)" class="btn btn-info">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
